header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header nav.navbar.navbar-inverse {
    border-radius: 0;
}

header nav.navbar .github-link {
    padding-top: 8px;
    padding-bottom: 8px;
}

#indicator {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: orange;
    z-index: 10;
    padding: 5px;
}

#map {
    width: 100%;
    height: 100%; /* Fallback */
    height: 100vH;
}

.no-padding {
    padding: 0 !important;
}
